{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "linebreak-style": ["off", "windows"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
